name: Welcome to Maximum!

on:
  pull_request:
    branches:
      - main
    paths:
      - "members/**/*.json"
      - ".github/workflows/welcome.yml"

jobs:
  schema-check:
    name: Schema Check
    runs-on: ubuntu-latest
    if: github.repository == 'saitamau-maximum/members'
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: "8.12.0"
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.10"
          cache: "pnpm"
          cache-dependency-path: "./checker/pnpm-lock.yaml"
      - name: Install deps
        run: pnpm install
        working-directory: ./checker
      - name: Build
        run: pnpm build
        working-directory: ./checker
      - name: Check if the file names are valid
        run: |
          files=$(git diff --name-only origin/main HEAD)
          IFS=$'\n'
          for file in $files; do
            # Check if the file name does not contain spaces
            if [[ "$file" =~ \ |\' ]]; then
              echo "File name contains spaces: $file"
              exit 1
            fi
            # Check if the file name does not contain non-ASCII characters
            if [[ "$file" =~ [^[:ascii:]] ]]; then
              echo "File name contains non-ASCII characters: $file"
              exit 1
            fi
          done
      - name: Check schema
        run: |
          modified=$(git diff --name-only origin/main HEAD | tr '\n' ' ')
          if [ -z "$modified" ]; then
            echo "No files modified"
            exit 0
          fi
          node ./checker/dist/cli.js $modified

  send-message:
    name: Messenger
    runs-on: ubuntu-latest
    # if: github.repository == 'saitamau-maximum/members' && github.event_name == 'pull_request' && github.event.action == 'opened' && github.event.pull_request.head.repo.full_name != 'saitamau-maximum/members'
    steps:
      - name: Create Message for new member
        run: |
          DELIM=$(openssl rand -hex 16)
          cat << $DELIM > msg.md
          こんにちは、 @${{ github.event.pull_request.user.login }} さん！
          入会申請ありがとうございます！

          以下のリンクが入会フォームとなります。
          このフォームに必要事項を記入して、送信をお願いします！
          なお、確認用の文字列として、以下の文字列を入力してください。

          ```plaintext
          ${{ github.event.pull_request.head.sha }}
          ```

          <https://forms.office.com/r/faZGt3DDDG>

          また、入会フォームの送信後に、下記口座にサークル費 3,000 円をお振り込みください。

          - 青木信用金庫
          - 支店名: 埼大通支店
          - 預金種目: 普通
          - 口座番号: 3456237

          担当者が確認後、諸手続きを行った後に Discord サーバーへの招待を行います。
          それまでお待ちください。
          通知を見逃さないようにお願いします！
          (必要であれば、 [GitHub の設定](https://github.com/settings/notifications) からメールを受け取るようにしておくことをおすすめします)

          以上、よろしくお願いします！
          $DELIM
      - name: Send
        run: gh pr comment -F ./msg.md "${URL}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          URL: ${{ github.event.pull_request.html_url }}
